header {
  backdrop-filter: blur(10px);
}

body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #EEE3CB; */
  background-image: url('https://media.tenor.com/QwslkIJM87AAAAAM/writing-homework.gif');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vh;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: -1;
  overflow-x: hidden;
}

ul {
  backdrop-filter: blur(10px);
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.item-array {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-array *:not(#button) {
  max-width: 90%;
  padding: 10px;
  margin: 10px 10px;
}

#button {
  margin-left : 10px;
}

li, .inp {
  color: (0,0,0,1);
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  align-content: center;
  list-style-type: none;
  background-color: rgb(245, 239, 231, 0.8);
}

.inp input {
  width: 100%;
}

.inp {
  border-radius: 20px;
}

.inp input::placeholder {
  font-size: 16px;
  text-align: center;
}

input {
  width: 30px;
  height: 30px;
}

#button {
  margin-left: auto;
  margin-right: 15px;
  transition: 0.2s;
}

Header h1 {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 10px;
  color: rgb(245, 239, 231);
  background-color: rgb(0, 0, 0, 0.8);
  width: fit-content;
}

Header {
  min-height: min-content;
  padding: 20px;
  background-color: rgb(245, 239, 231, 0);
}

.item {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.item-removed {
  opacity: 0;
}

#button:hover {
  height: 25px;
  width: 25px;
  animation: wiggle 0.8s ease-in-out 0.1s;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-10deg); }
  40% { transform: rotate(10deg); }
  60% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

footer {
  color: white;
  font-size: 10px;
  opacity: 0;
}

#input-button {
  border-radius: 10px;
}

@media screen and (max-width: 1800px) {
  body {
    width: 100vw;
  }
}